.popup{
  position: absolute;
  top: 7%;
  left: 15%;
  z-index: 150;
  width: 70%;
  height: 86%;
  background: url(../resources/images/toner_RY2tKRw04x4.png);
  border: 1px solid #1b619e;
  border-radius: .6em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}
#close{
  position: absolute;
  height: 16px;
  width: 16px;
  background: url(../resources/images/close.png);
  top: 10px;
  right: 10px;
  color: red;
}
.mainContainer{
  margin: 25px; 
}
.containerpop{
  width: 45%;
  margin-right: 10px;
  margin-bottom: 5px;
padding: 10px;
background: rgba(255, 255, 255, 0.65);
border: 1px solid #1b619e;
border-radius: .6em;
}
.heading{
  background: #1b619e;
color: white;
font-size: 1.1em;
font-weight: bold;
border-radius: .3em;
padding: 1px 10px;
}
.infoCustomer{
  display: table;
  width: 100%;
  
}
.poprow{
  display: table-row;
}
.label,.labelValue{
  display: table-cell;
  padding-top: 3px;
}
.labelValue{
  padding-left: 8px;
}
.label{
  width: 30%;
  text-align: right;
  font-weight: bold;
}
#send{
  position: absolute;
    bottom: 15px;
    left: calc((100% - 270px)/2);
}
.premiumpop{
  float: right;
  position: absolute;
  top: 25px;
  right: 25px;
}
.premiumpop .label{
  width: 55%;
}
.messagemail{
  width: 96%;
}
.pop_premium,.pop_premium_aqi{
  color: #1b619e;
}
#legend-short td{
  padding:0 10px;
}

#legend-short thead{
  background: rgba(27, 97, 158, 0.2);
font-weight: bold;
}
