html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100%;
}

.electric-icon{
  width: 35px;
  height: 35px;
  background-image: url(../resources/images/recharge-point.png);
  background-size: 35px;
  outline: none;
}
.petrol-icon{
  width: 35px;
  height: 35px;
  background-image: url(../resources/images/icon-car.png);
  background-size: 35px;
  outline: none;
}

.icon{
  font-size: 4.4em;
  font-weight: bold;
  color: rgb(17, 146, 82);;
  /* border: 1px solid blue; */
  top: 5%;
  margin-left: 1%;
  position: absolute;
  height: 6%;
  width: 29%;
  z-index: 120;

}
.icon:before{
  content: "";
  background: rgba(51, 181, 229, 0.4);
  position: absolute;
  top: 1%;
  left: -7%;
  width: 12%;
  height: 160%;
  z-index: -1;
}
.icon > img{
  width: 100%;
  height: 100%;
}
#map{
  float: left;
    width: 70%;
    height: 100%;
      z-index: 12;
}
#ui{
  float: left;
  z-index: -12;
  width: 30%;
  height: 100%;
  background: url(../resources/images/toner_RY2tKRw04x4.png);
  background-position:cover;
}
input , button{
outline: none;

}
.form{
    top: 22%;
    width: 90%;
    height: 42px;
    position: relative;
    margin-left: 10%;

}
.textinput{
  float: left;
  font-size: 1em;
  height: 40px;
  width: 270px;
  background: rgba(28, 98, 158, 0.04);
  border: 1px solid #1c629e;
  padding-left: 1em;
  border-top-left-radius: .8em;
  border-bottom-left-radius: .8em;
}
.button{
  float: left;
  color: black;
  height: 40px;
  width: 50px;
  border-top-right-radius: .8em;
  border-bottom-right-radius: .8em;
  border: 1px solid #1c629e;
  background: #1c629e;
}
.search{
    vertical-align: middle;
    height: 16px;
    background-image: url(../resources/images/search-16.png);
    width: 16px;
    display: inline-block;
}
#resultDIV{
    position: relative;
    top: 25%;
    margin-left: 10%;
    font-size: 1.5em;
    padding: 15px 25px;
    width: 270px;
    border-radius: .8em;
    background: rgba(78, 78, 78, 0.26);
}
#poll_info{
  width: 270px;
}
.poll-row{
  padding: 8px 12px 0;
  margin-bottom: 5px;
  height: 36px;
  border-radius: .3em;
  background: rgba(255, 255, 255, 0.4);
}
.poll-data{
  font-size: 1em;
  min-width: 30px;
  text-align: center;
  border-radius: 0.3em;
  padding: 1 8px;
  float: right;
}
#last_updated{
  font-size: .7em;
  padding-bottom: 10px;
}

.buttonDIV{
  margin-top: 5px;
  background: #1b619e;
  color: white;
  border: 0;
  height: 40px;
  padding: 0;
  width: 270px;
  border-radius: .5em;
  font-size: .7em;
}
