html,body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  height: 100%;
}

.electric-icon{
  background: green;
}
.petrol-icon{
  background: red;
}

.icon{
    top: 10%;
    left: -1px;
    position: absolute;
    height: 6%;
    width: 25%;
  
}
.icon > img{
  width: 100%;
  height: 100%;
}
.form{
    top: 25%;
    width: 100%;
    height: 60%;
    position: relative;

}
#map{
  float: left;
    width: 70%;
    height: 100%;
      z-index: 12;
    box-shadow: rgba(0, 0, 0, 0.2) -2px 0px 15px;
}
#ui{
  float: left;
  z-index: -12;
  width: 30%;
  height: 100%;
}
#ui::before{
  width: 40%;
  height: 100%;
}
.textinput{
  float: right;
  height: 40px;
  width: 250px;
  border: 1px solid;
  border-right-width: 0px;
  padding-left: 1em;
  z-index: -5;
}
.button{
    position: absolute;
    top: 15%;
    width: 150px;
    right: 0;
    float: right;
    background: transparent;
    border: 1px solid black;
    border-right-width: 0px;
    color:black;
    height: 40px;
    outline: none;
    /**/
}
.button:active{
    background: rgba(0, 0, 0, 0.05);
}
#ui::before{
  opacity: .05;
  content: "";
  position: absolute;
  background: url(../resources/images/toner_RY2tKRw04x4.png);
  background-position: -630px;
}
#poll_info{
  position: relative;
  top: -15%;
  float: right;
  right: -50%;
}
#last_updated{
  position: relative;
  top: -15%;
  float: right;
  background: black;
  color: white;
  right: -50%;
}

#locate{
  float : left;
  position: absolute;
  bottom:20%;
  left:-20%;
  background: transparent;
  border: 1px solid black;
  border-left-width: 0px;
  color:black;
  height: 40px;
  outline: none;
}
